@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
 
* {
  margin: 0;
  padding: 0;
}

body{
	background-color: rgba(0, 0, 0, 0.035);
	color: rgba(0, 0, 0, 0.7);
	padding: 10px 20px;
}

h1{
	font-size: 14px;
	font-weight: 900;
	text-align: center;
	margin-bottom: 10px;
	margin-top: 5px;
}

h2{
	line-height: 60px;
}

input{
    width: 100%;
    padding: 5px 5px;
    margin: 8px 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

header{
	width: 98%;
	height: 80px;
	box-sizing: border-box;
	border-bottom: 1px solid grey;
}

input[type=file]{
	display: none;
}

.custom-file-upload{
	border: 1px solid #ccc;
	margin-left: 20px;
    cursor: pointer;
    font-weight: 900;
	border-radius: 4px;
	border: 1px solid black;
	width: 20px;
	height: 20px;
	box-shadow: inset 0px -11px 8px -10px rgba(0,0,0,0.5);
}

.val-err{
	color: red;
	font-size: 10px;
	padding-top: 0px;
}

.container{
	position: absolute;
	width: 300px;
	height: 200px;
	top: 50%;
	left: 50%;
	margin: -150px 0 0 -150px;
	font-family: 'Lato', sans-serif;
}

.form{
	padding: 5px 20px;
	border: 1px solid grey;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	background-color: white;
}

.image-box{
	box-sizing: border-box;
	width: 280px;
	height: 210px;
	margin-right: 28px;
	margin-bottom: 25px;
	float: left;
}

.image-box p{
	color: rgba(0, 0, 0, 0.7);
}

.small{
	font-size: 11px;
	text-align: center;
	margin-top: 5px;
}

.app-info{
	width: 60%;
	height: 100%;
	float: left;
}

.user-info{
	height: 100%;
	width: 30%;
	float: right;
	text-align: right;
	padding: 15px 0px;
}

.isa_error {
    color: #D8000C;
    background-color: #FFD2D2;
}

.isa_error i {
    margin:10px 22px;
    font-size:2em;
    vertical-align:middle;
}

#publish-btn{
	border: 1px solid grey;
	border-radius: 4px;
	font-size: 11px;
	color: white;
	width: 100px;
	height: 30px;
	float: right;
	background-color: #006400;
	font-weight: 900;
}

#signup-btn{
	border: 1px solid grey;
	border-radius: 4px;
	color: white;
	width: 30%;
	margin-left: 180px;
	background-color: #006400;
	font-size: 8px;
	font-weight: 900;
}

#signin-btn{
	border: 1px solid grey;
	border-radius: 4px;
	color: rgba(0, 0, 0, 0.7);
	font-size: 13px;
	font-weight: 900;
}

#search-btn{
	width: 15%;
	font-weight: 900;
	height: 30px;
	border-radius: 4px;
	border: 1px solid black;
	margin-left: 20px;
	margin-top: 10px;
	box-shadow: inset 0px -11px 8px -10px rgba(0,0,0,0.5);
}

#search-txt{
	width: 80%;
	float:left;
}

#filterAnchors{
	font-weight: 900;
	font-size: 16px;
	margin-top: 10px;
}

#filterAnchors a{
	font-weight: 500;
	font-size: 16px;
	text-decoration: underline;
	margin-left: 15px;
	color: #1E90FF;
}

#gallery{
	width: 99%;
}

#myModal{
	background-color: white;
	width: 1100px;
	height: 600px;
	margin: 30px 0 0 100px;
	padding: 0px 30px 50px 30px;
	border: 1px solid black;
}

#left-modal{
	width: 55%;
	float: left;
	margin-right: 30px;
}

#right-modal{
	width: 40%;
	float: left;
}

#drop-area{
	border-bottom: 1px solid black;
	height: 400px;
	vertical-align: center;
	text-align: center;
}

#add-image-cont{
	background-color: rgba(0, 0, 0, 0.05);
	border: 1px solid black;
	height: 450px;
}

#upload-area{
	text-align: center;
	padding: 10px;
}
#drag-image{
	width: 250px;
	height: 250px;
	margin-top: 25px;
}

#add-btn{
	height: 150px;
	width: 150px;
	margin: 0px 60px;
}

#add-btn-text{
	font-weight: 900;
	font-size: 22px;
	margin: 5px 55px;
}
#search-form{
	width: 99%;
	height: 100px;
	box-sizing: border-box;
	margin-top: 15px;
}

#welcome{
	font-size: 20px;
	margin: -45px 100px;
	text-align: left;
}

#user-text{
	margin: 0px 50px;
	font-weight: 900;
	font-size: 22px;
}

a:link {
    color: #00BFFF;
    text-decoration: none;
}

a:visited {
    color: #00BFFF;
    text-decoration: none;
}